body {
    background-color: #23263a;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.menu {
    background-color: #1f2235;
    width: 100%;
    color: #fff;
    position: fixed;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100;
   
}

.szerokosc1 {
    background-color: #1f2235;
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: space-between;   
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
@media (max-width: 1200px){
    .szerokosc1{
        display: flex;
        justify-content: space-between;  
        margin-left: auto;
        margin-right: auto;
        align-items: center;
       
    }
}
@media (max-width: 800px){
    .szerokosc1{
        display: flex;
        justify-content: space-between;  
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        font-size: 14px;
        
    }
}
@media (max-width: 500px){
    .szerokosc1{
        display: flex;
        justify-content: space-between;  
        font-size: 8px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        
    }
}
ol {
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

ol>li {
    width: 120px;
    font-weight: bold;
    margin-left: 30px;
}

@media (max-width: 1400px){
    ol>li{
        display: none;
        font-size: 0;
    }
}

#logo {
    width: 110px;
    
}
@media (max-width: 1200px){
    #logo{
        
    }
}
@media (max-width: 800px){
    #logo{
        
        width: 100px;
    }
}


.aboutme {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

@media (max-width: 800px) {
    .aboutme{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;  
      
      
    }
    
}

.line1 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
}
@media (max-width: 800px) {
    .line1{
       
        margin-left: auto;
        margin-right: auto;
        font-size: 27px;
    }
    
}
@media (max-width: 500px) {
    .line1{
        
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }
    
}
@media (max-width: 300px) {
    .line1{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
    
}

.line2 {
    font-size: 20px;
    line-height: 30px;
}
@media (max-width: 800px) {
    .line2{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
}
.border {

    width: 70px;
    height: 2px;
    border-bottom: #ff4a57 solid 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
@media (max-width: 800px) {
    .border{
        width: 40px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
}
.addflexbox{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1550px) {
    .addflexbox{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    
}


.image {
    
    margin-top: 40px;
    transition: transform 3s;
    display: flex;
    justify-content: center;  

}

@media (max-width: 1550px) {
    .image{
        
        width: 300px;
        margin-top: 70px;
        display: flex;
        justify-content: center;  
        margin-left: auto;
        margin-right: auto;   
    }
    
}
@media (max-width: 810px) {
    .image{
        
        width: 300px;
        margin-top: 230px;
        display: flex;
        justify-content: center;  
        margin-left: auto;
        margin-right: auto;   
    }
    
}
.details {
    float: left;
    margin-top: 70px;
    color: #fff;
    line-height: 27px;
    font-size: 18px;
    animation-delay: 0.1s;
    
    
}
@media (max-width: 1550px) {
    .details{
        
        margin-left: auto;
        margin-right: auto;  

    }
    
}

#hi {
    color: white;
    font-weight: bold;
    font-size: 28px;

}
@media (max-width: 800px) {
    .dlaflexbox{
        
        width: 80%;
        display: flex;
        flex-direction: column;       
        
    }
    
}

.down1 {
    float: left;
}
@media (max-width: 800px) {
    .down1{
        display: flex;
        flex-direction: column;   
        
    }
    
}

.down2 {
    float: left;
    margin-left: 200px;
}
@media (max-width: 800px) {
    .down2{
        
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;       
        
    }
    
}

.red {
    color: #ff4a57;
    font-weight: bold;
}

.middle {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.top-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logom {
    width: 200px;
}
#text{
    margin-top: 70px;
    line-height: 30px;
}
#ikony{
    margin-top: 70px;
}
#colorfooter{
    color: #ff4a57;
}
#colorfooter:hover{
    color: #fff;
    cursor: pointer;
}
#footer{
    font-size: 16px;
    width: 100%;
    background-color: #1f2235;
    height: 80px;
    text-align: center
}
#footertext{
    margin-top: 32px;

}
#ikony{
    font-size: 25px;
    margin-bottom: 100px;
    display: flex;
    
}
.ikonystopka{
    margin-left: 30px;
    background-color: #1f2235;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: none;
    
}
.ikonystopka:first-child{
    margin-left: 0;
}
@media (max-width: 1000px) {
    .ikonystopka{
        margin-left: 30px;
        width: 40px;
        height: 40px;
    }
}
a:link{
    color: #fff;
    text-decoration: none;
}
a:visited{
    color: #fff;
}
.ikonystopka:hover{
    color: #fff;
    background-color: #ff4a57;
}
.ikonystopka{
    transition: background-color 0.5s;
}
.servicesmain{
    color: #ff4a57;
    font-size: 13px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 100%;
    height: 300px;

}
.services{
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
}
@media (max-width: 1200px) {
    .services{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;   
      
    }
    
}



.line1a{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.bigbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    flex-wrap: wrap;
    margin: auto;
}
@media (max-width: 1200px) {
    .bigbox{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }
    
}

.box{
    width: 30%;
    background-color: #1f2235;
    margin:20px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 50px;
}
@media (max-width: 1200px) {
    .box{
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        margin:20px;
    }
    
}
@media (max-width: 1014px) {
    .box{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin:20px;
    }
    
}
.element1{
    color: #ff4a57;
    margin-left: 45px;

}
.element2{
    margin-left: 45px;
    font-size: 20px;
    margin-top: 30px;
    
}
.element3{
    margin-left: 45px;
    font-size: 16px;
    margin-top: 30px;
    line-height: 25px;

    
}
.redicone{
    font-size: 45px;
    margin-top: 30px;  
    color: #ff4a57;
    border: 0;
}

.znacznik1{
    transition: color 0.3s;
}

.znacznik1:hover{
    color: #ff4a57; 
    cursor: pointer;

}
.box:hover{
    background-color: #ff4a57;
    /* transition: transform 1000 linear; */
}
.redicone{
    transition: color 1s linear;
    transition: transform 1s ease-in-out;
    /* transition: transform 1s linear; */
}

.box:hover .redicone {
    color: white;
    transform: rotateY(360deg);
    /* transform: translateX(100px); */
}

#text{
    text-align: center;
}
@media (max-width: 1200px) {
    #text{
        width: 80%;
    }
}
@media (max-width: 1400px) {
.hamburger{
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid #ffffff;
    background: transparent;
    position: relative;
    transition: 0.3s transform linear;
    
}
}
@media (max-width: 1400px) {
.hamburger::before, .hamburger::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid #fff;
    transform: translateY(10px);

}
}
@media (max-width: 1400px) {
.hamburger::after{
    transform: translateY(25px);
    transition: 0.3s transform linear;
}
}
@media (max-width: 1400px) {
.hamburger:focus{
    transform: rotate(45deg) translateY(5px);
    border: none;
}
}
@media (max-width: 1400px) {
.hamburger:focus::after{
    transform: rotate(-90deg) translateX(-10px);
}
}
@media (min-width: 1400px){
    .hamburger{
        display: none;
    }
}
